@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

   body {
      background-color: #f5f6fd;
      color: #000;
      font-weight: 400;
   }

   .step2, .step3, .step4,
   .step5, .step6, .step7 , .step8 {
      display: none;
   }

   h1, .h1 {
      font-size: 32px;
      font-weight: 700;
   }

   h2, .h2 {
      font-size: 22px;
      font-weight: 700;
   }

   h3, .h3 {
      font-size: 18px;
      font-weight: 400;
   }

   .sub-heading {
      font-size: 20px;
      font-weight: 400;
   }

   /* Transactions Table */

   .transactions-table {
      @apply divide-y overflow-y-auto max-h-[405px] mb-6 pr-2 -mr-2;
      scrollbar-width: 0;
   }

   .transactions-table::-webkit-scrollbar {
      background-color: transparent;
      width: 12px;
   }

   .transactions-table::-webkit-scrollbar-thumb {
      border-radius: 99px;
      border: 3px solid #fff;
      @apply bg-secondary-500;
   }

   .transaction-detail {
      @apply py-4;
   }

   .transaction-type {
      font-size: 13px;
      color: rgb(99, 99, 99);
      @apply font-medium;
   }

   .transaction-label {
      @apply text-sm truncate overflow-hidden font-bold;
   }

   .transaction-icon {
      width: 24px;
      @apply mr-3;
   }

   .transaction-date {
      @apply pb-2;
      color: rgb(99, 99, 99);
      font-size: 13px;
   }

   .transaction-amount {
      @apply font-bold text-right;
      flex: 0 0 100px;
   }

   .credit-amount {
      @apply text-green-600;
   }

   /* Button */

   .btn {
      @apply flex justify-center items-center text-center border border-solid py-3 px-5 rounded-md text-base font-normal transition duration-150 ease-in-out gap-x-2;
   }

   .btn-secondary {
      @apply bg-secondary-50 text-white hover:bg-secondary-100;
   }

   .btn-outline-secondary {
      @apply border-secondary-50 text-secondary-50 hover:bg-secondary-50 hover:text-white;
   }

   .btn-primary {
      @apply bg-primary-50 text-white hover:bg-primary-100;
   }

   .btn-outline-primary {
      @apply border-primary-50 text-primary-50 hover:bg-primary-50 hover:text-white;
   }

   .close-button {
      @apply border w-[36px] h-[36px] flex justify-center items-center rounded-full hover:bg-secondary-50 hover:text-white transition duration-150 ease-in-out absolute -top-6 -right-6 bg-white;
   }

   .back-button {
      @apply inline-block flex justify-center items-center hover:text-primary-50 transition duration-150 ease-in-out absolute top-5 right-3;
   }

   /* Forum */

   .c-input {
      /* @apply border rounded-md px-2 py-2; */
      @apply w-full bg-white border rounded-md border-gray-300 focus:border-primary-50 text-base outline-none text-gray-700 px-4 py-3 transition-colors duration-200 ease-in-out leading-3;
   }

   .c-label {
      @apply leading-7 text-base text-[#18181b] font-medium mb-1 inline-block;
   }

   /* Receipt Icon Animation */

   .receipt-icon-animation {
      @apply relative border border-2 border-secondary-50 w-[60px] h-[10px] mx-auto rounded-md my-14;
   }

   .receipt-icon-animation img{
      @apply absolute;
   }

   .noarrow::-webkit-inner-spin-button, 
   .noarrow::-webkit-outer-spin-button {
      @apply appearance-none;
   }

   .c-transition{
      transition: all .5s ease;
      box-shadow: 0 8px 16px rgba(29,53,94,.10);
   }

   .confetti {
      position: absolute;
      animation: grow 1.4s cubic-bezier(0.42, 0, 0.275, 1.155) both;
      @apply fill-[#29a758];
   }
   .confetti:nth-child(1) {
      width: 12px;
      height: 12px;
      left: 12px;
      top: 16px;
   }
   .confetti:nth-child(2) {
      width: 18px;
      height: 18px;
      left: 168px;
      top: 84px;
   }
   .confetti:nth-child(3) {
      width: 10px;
      height: 10px;
      left: 32px;
      top: 162px;
   }
   .confetti:nth-child(4) {
      width: 20px;
      height: 20px;
      left: 82px;
      top: -12px;
   }
   .confetti:nth-child(5) {
      width: 14px;
      height: 14px;
      left: 125px;
      top: 162px;
   }
   .confetti:nth-child(6) {
      width: 10px;
      height: 10px;
      left: 16px;
      top: 16px;
   }
   .confetti:nth-child(1) {
      animation-delay: 0.7s;
   }
   .confetti:nth-child(2) {
      animation-delay: 1.4s;
   }
   .confetti:nth-child(3) {
      animation-delay: 2.1s;
   }
   .confetti:nth-child(4) {
      animation-delay: 2.8s;
   }
   .confetti:nth-child(5) {
      animation-delay: 3.5s;
   }
   .confetti:nth-child(6) {
      animation-delay: 4.2s;
   }
 
   .rej-checkmark {
      position: relative;
      padding: 0;
      @apply mx-auto inline-block;
   }

   .rej-checkmark__back {
      @apply mx-auto;
   }

   .checkmark {
      position: relative;
      padding: 30px;
      animation: checkmark 5.6s cubic-bezier(0.42, 0, 0.275, 1.155) both;
      @apply mx-auto inline-block;
   }
   
   .checkmark__check {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate3d(-50%, -50%, 0);
      fill: #fff;
   }
   
   .checkmark__back {
      animation: rotate 35s linear both infinite;
      @apply fill-[#29a758] mx-auto;
   }

   .no-animated  .checkmark__back {
      animation: none;
   }

   .no-animated.checkmark {
      animation: none;
      padding: 0;
   }
   
   @keyframes grow {
      0%, 100% {
      transform: scale(0);
      }
      50% {
      transform: scale(1);
      }
   }
   @keyframes checkmark {
      0% {
      opacity: 0;
      transform: scale(0);
      }
      10%, 50%, 100% {
      opacity: 1;
      transform: scale(1);
      }
   }
 
   @keyframes rotate {
      0% {
      transform: rotate(0deg);
      }
      70% {
      transform: rotate(360deg);
      }
      100% {
      transform: rotate(420deg);
      }
   }

   .submit-animated {
      @apply relative overflow-hidden;
   }

   .submit-animated.active svg{
      transform: translate(-50%,-50%);
   }

   .submit-animated svg {
      @apply absolute left-2/4 top-2/4;
      transform: translateY(-200%);
   }
   .submit-animated.active .btn-text{
      transform: translateY(150%);
   }
 
   /* Timeline Process */
   .g-timeline-process {
      @apply relative overflow-hidden;
      padding-left: 3px;
      margin-top: 20px;
   }

   .g-timeline-status {
      @apply relative pl-[30px];
   }

   .g-timeline-label {
      @apply text-[18px] font-medium text-slate-600;
   }

   .g-timeline-status:not(:last-child) > div {
      padding-bottom: 25px;
   }

   .g-timeline-time {
      @apply text-sm text-gray-500;
   }

   /* .g-timeline-status:not(:last-child) i:after {
      content: "";
      @apply w-[1px] h-full absolute left-[8px] top-[8px] bg-primary-800;
   } */

   .g-timeline-status i:before {
      /* content: "";
      @apply absolute bg-primary-50 z-20 top-[6px] left-0;
      width: 17px;
      height: 17px;
      transition: height 2s;
      transition-delay: 800ms; */
   }

   .g-timeline-status > div.normal-line {
      padding: 0;
   }

   .g-timeline-status .normal-line:before {
      /* content: "";
      width: 17px;
      height: 17px;
      @apply absolute border-[2px] border-solid bg-white border-primary-50 z-10 rounded-full; */
   }

   /* .g-timeline-status:not(:last-child) .normal-line:after {
      content: "";
      @apply w-[1px] h-full absolute left-[8px] top-[8px] bg-primary-800;
   } */

   /* Line */
   .normal-line {
      
   }

   .normal-line:before,
   .normal-line:after {
      content: "";
      @apply absolute top-[8px] left-[8px] w-[1px] h-full bg-slate-200;
   }

   .completed .normal-line:after {
      @apply bg-primary-50;
      animation: status-line 1s linear;
   }

   /* Circle */

   .circle-line {
      @apply absolute top-[6px] left-0 w-[17px] h-[17px] overflow-hidden rounded-full;
      padding: 0 !important;
   }

   .circle-line:before ,
   .circle-line:after {
      content: "";
      @apply w-[17px] h-[17px] absolute left-0;
   }

   .circle-line:before {
      @apply z-10 border-[2px] border-solid border-primary-50 rounded-full;
   }

   .completed .circle-line:after {
      @apply z-20 bg-primary-50;
      animation: status-line1 1s linear;
   }

   .g-timeline-status.completed:nth-child(2) .circle-line:after {
      /* animation-delay: 4s; */
   }

   .g-timeline-status.completed:nth-child(3) .circle-line:after {
      /* animation-delay: 6s; */
   }


   /* Completed */
   .g-timeline-status.completed i:before {
      /* animation: status-circle 0.5s; */
      /* background-position: left bottom; */
      /* animation: status-line1 1s linear;
      @apply bg-primary-50; */
   }

   .g-timeline-status.completed:nth-child(2) i:before {
      /* transition-delay: 2s; */
   }

   .g-timeline-status.completed:nth-child(3) i:before {
      /* transition-delay: 4s; */
   }

   .g-timeline-status.completed .g-timeline-label {
      @apply text-current;
   }

   .g-timeline-status.completed .normal-line:after {
      /* @apply bg-primary-50;
      animation: status-line 1s linear;
      animation-delay: .2s; */
   }

   .g-timeline-status.completed:nth-child(2) .normal-line:after {
      /* animation-delay: 1.4s; */
   }

   /* Rejected */
   .g-timeline-status-rejected .normal-line:before {
      /* content: "X";
      line-height: 11px;
      font-style: normal;
      font-size: 13px;
      @apply text-center text-white border-red-700 bg-red-700 font-sans; */
   }

   .g-timeline-status-rejected .g-timeline-label {
      @apply text-red-700;
   }

   .g-timeline-status-rejected .g-timeline-time {
      @apply text-red-700;
   }


   @keyframes status-line1 {
      0% {
         height: 0;
      }
      100% {
         height: 17px;
      }
   }
   @keyframes status-line {
      0% {
         height: 0;
      }
      100% {
         height: 100;
      }
   }

   @keyframes status-circle {
      0% {
         @apply bg-transparent;
      }
      100% {
         @apply bg-primary-50;
      }
   }


   .dot-wrapper {
      @apply overflow-hidden rounded-full w-[17px] h-[17px] absolute left-0 top-[6px];
   }


   /* Modal */
   .g-modal {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      transform: scale(1.1);
      transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  
  .g-modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  .show-modal {
      opacity: 1;
      visibility: visible;
      transform: scale(1.0);
      transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  .g-trigger {
     @apply cursor-pointer;
  }

}