.swiper-slide-active {}

.swiper-slide-active {}
.swiper-slide-active {}
.swiper-slide-active {}
.swiper-slide-active {}


/* .animation-heading {
    transform: translateX(-100%);
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.swiper-slide-active .animation-heading {
    transform: translateX(0);
} */